/* fonts */
@import url(https://fonts.googleapis.com/css?family=Baumans);

.name {
	font-style: italic;
}

.bocFont {
	font-family: 'Baumans', cursive;
	letter-spacing: -0.07em;
}



/* elements */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background: turquoise;
}

h2 {
	text-align: center;
	}
				
body {
	background-image: url(images/hex.jpg) repeat;
}

ul {
	margin-left: 8%;
}

table {
	text-align: center;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width:85%;
}

th, td {
	border: 1px solid black;
}

thead {
	background-color:grey;
}

tbody {
	font-style: italic;
}

tbody tr:nth-child(even){
	background-color: white;
}

tbody tr:nth-child(odd){
	background-color: lightgrey;
}

tfoot {
	background: grey;
}



/*ids*/
#cover {
	text-align: center;
	line-height: 80%;
}


