body {
	background-image: url("../images/casino.jpg");
	color: #339933;
	-webkit-text-stroke: 1.25px black;
	font-size: 200%;
}

.die {
	font-size: 250%;
}

#results {
	text-align: center;
	margin: 0px;
	border-collapse: collapse;
	width:85%;
}

table {
	border: 1px solid black;
	background: lightgrey;
}

td {
	margin-left: 25%;
}
