@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

header a {
			padding: 3%;
		}
		
header h1 {
	text-align:center;
	font-family: 'Josefin Sans', sans-serif;
}
		
footer {
	text-align:center;
	clear:right;
	clear:left;
}

body {
	background-color:skyblue;
	}
	
div {
	  background-color:coral;
}
	
a {
	color:coral;
}

a:visited {
	color: darkblue;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}
